<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <p>Liquid uses a combination of tags, objects, and filters to load dynamic content.</p>
      <hr class="hr--small">
    </header>

    {%- comment -%}
      - creates a bridge between an HTML file and the data in your store (page, product, collection content)
      - it does this by allowing us to access variables from within a template
      - your themes are 100 percent agnostic and can be applied to multiple stores without any knowledge of the stores content
      - we are not changing how Shopify works, we are merely pulling data from it and displaying it on our page
    {%- endcomment -%}

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">

          <h2>Objects</h2>
          {%- comment -%}
          - also known as variables
          - used to display dynamic content on a page
          - can return a single value or a collection of values
          - https://help.shopify.com/en/themes/liquid/objects/page
          {%- endcomment -%}
          <ul>
            <li>{{ page.id }}</li>
          </ul>

          <h3>Global Objects</h3>
          {%- comment -%}
            - available from wherever inside your theme.
            - https://help.shopify.com/en/themes/liquid/objects#global-objects
            - all_products['black-leather-bag'].title
          {%- endcomment -%}
          <ul>
            <li>{{ all_products['black-leather-bag'].title }}</li>
          </ul>

          <hr class="hr--large">

          <h2>Tags</h2>
          {%- comment -%}
          - how we can combine objects with useful tags to help our themes to do what we need them to do
          - aka, the logic
          {%- endcomment -%}

          <h3>Control Flow Tags</h3>
          {%- comment -%}
            Determine whether blocks of code are executed or not depending on the situation.
            - if/else
            - unless
            - and/or
            - contains
          {%- endcomment -%}
          {% if page.title == 'Liquid Tutorial' %}
            {{ page.content }}
          {% endif %}

          {%- comment -%}
          Truthy Falsy
          - Data types that return true by default are called truthy. Data types that return false by default are called falsy.
          - All values in Liquid are truthy except nil and false
            - nil is returned when a Liquid object doesn't have anything to return.
          {%- endcomment -%}

          {%- comment -%}
          - Empty strings are truthy
            So always check if your strings are blank
          {%- endcomment -%}

          {% comment %}

          {% unless settings.fp_heading == blank %}
            <h1>{{ settings.fp_heading }}</h1>
          {% endunless %}

          {% endcomment %}

          {%- comment -%}
          An EmptyDrop is also truthy.
            - An EmptyDrop object is returned if you try to access a deleted object (such as a page or post) by its handle.
          {%- endcomment -%}

          <h3>Iteration Tags</h3>
          {%- comment -%}
            Repeat blocks of code.
            https://help.shopify.com/en/themes/liquid/tags/iteration-tags
          {%- endcomment -%}

          {%- comment -%}
            - Iterating Numbers
              - reversed
              - range
              - break
              - continue
          {%- endcomment -%}
          {% assign nums = '1,2,3,4,5' | split: ',' %}
          {% for item in nums %}
            {{ item }}
          {% endfor %}

          <br>

          {%- comment -%}
          - Iterating Products in Collections
            - for
            - else
            - tablerow
          {%- endcomment -%}
          {% for product in collections.winter-blankets.products %}
            {{ product.title }}
          {% endfor %}

          <br>

          {%- comment -%}
          Cycle
          - must be used within a for loop block
          {%- endcomment -%}

          {% for item in (1..4) %}
            <div {% cycle 'style="text-align: left;"', 'style="text-align: right;"' %}>
              {{ item }}
            </div>
          {% endfor %}

          <h3>Variable Tags</h3>
          {%- comment -%}
            - https://help.shopify.com/en/themes/liquid/tags/variable-tags
            - gives us the ability to organise and section our code better by storing data from our objects into meaningful variables.
            - also handy for creating boolean flags
              - assign
              - capture
              - increment/decrement
          {%- endcomment -%}
          {% assign green = '#BADA55' %}

          <h3>Theme Tags</h3>
          {%- comment -%}
            - Other functions that assist in theme development
            - https://help.shopify.com/en/themes/liquid/tags/theme-tags
              - comment
              - form
              - section
              - render/include
              - liquid/echo
          {%- endcomment -%}

          <hr class="hr--large">

          <h2>Filters</h2>
          {%- comment -%}
          Methods that modify the output of numbers, strings, variables and objects
          - downcase/upcase
          - img_url
          {%- endcomment -%}
          {% assign downcased_title = page.title | upcase %}

          {% comment %} Single image {% endcomment %}
          {% comment %} {{ all_products['foraker-canvas-coat'] | img_url }} {% endcomment %}

          {% comment %}
          Multiple images
            - all_products['foraker-canvas-coat'].images
            - variants
          {% endcomment %}

          {%- for image in all_products['foraker-canvas-coat'].images -%}
            {{image.alt}}<br>
          {%- endfor -%}

          {% comment %}
          Array Filters
          - first/last
          - size
          - join
          {% endcomment %}
          {{ all_products['foraker-canvas-coat'].images | first }}

          {%- comment -%}
          - asset_url
          - stylesheet_tag
          - script_tag
          - date
          - pluralize
          - replace
          - handle
          - money
          - money_with_currency
          - img_url
          - link_to
          {%- endcomment -%}

          {% comment %} You get the idea: https://www.shopify.ca/partners/shopify-cheat-sheet {% endcomment %}
        </div>
      </div>
    </div>

  </div>
</div>
